BasedOnStyle: Microsoft
ColumnLimit: 0
UseTab: Never
IndentWidth: 4
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
NamespaceIndentation: All
SortIncludes: Never
